/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
  margin: 0; 
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#root {
  padding: 1em;
}

nav {
  background-color: #F55A5A;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: baseline;
  width: 100%;
}

.logo {
  object-fit: cover;
  width: 40px;
  height: 40px;
  padding: 0; 
  margin: auto 0;
}


.card-icon {
  object-fit: contain;
  margin-right: 0.5em;
}

.card {
  display: flex;
  min-height: 200px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}


.card-location-name {
  margin: 0;
  letter-spacing: 2px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-left: 1em; 
}

.card-img {
  width: 40%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-location-info {
  display: flex;
  align-items: center;
  font: 0.2rem;
  text-align: left;
  padding-top: 1em;
}

.google-location {
  color: grey;
  font-size: 0.6rem;
  margin-left: 0.8em;
}

.card-info {
  display: block;
  text-align: left;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

p {
  letter-spacing: 1.5px;
}

span {
  margin-bottom: 2em;
  font-size: 0.8em;
}

@media (min-width: 850px) {

  #root {
    padding: 0 5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .card {
    max-height: 30vh;
    padding: 1.5em;
  }

  .card-badge {
    top: 30px;
    left:30px;
  }

  .card-img {
    max-width:30%;
  }

  .card-content {
    justify-content: center;
  }
  
  .google-location{
    font-size: 1em;
  }
  
  .card-icon {
    height: 16px;
  }
 
}